html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  margin: 0px;
  color: hsl(223, 47%, 23%);
  font-weight: bold;
}

p {
  margin: 0px;
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
}

.main-container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  gap: 15px;
}

.img-container {
  height: 10%;
}

img {
  width: 100%;
  margin: 0px;
  height: 100%;
}

.payment-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  background-color: hsl(225, 100%, 98%);
}

.music-icon {
  width: 30px;
}

.plan {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
}

.price {
  font-size: 1.2rem;
}

.button-container {
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: hsl(258, 62%, 68%);
}

button {
  border: none;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(245, 75%, 52%);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.15s;
}

button:hover {
  background-color: hsl(258, 62%, 68%);
}

.cancel {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media (min-width: 769px) {
  .main-container {
    width: 25%;
  }
  .payment-info {
    width: 20vw;
  }
}
